root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{axaml,xaml,xml,csproj,props,targets,json,yml,yaml}]
indent_size = 2

[*.cs]
# Organização de usings
dotnet_sort_system_directives_first = true

# Preferências de estilo
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_prefer_braces = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion
dotnet_style_prefer_auto_properties = true:suggestion

# Campos privados com prefixo _
dotnet_naming_rule.private_fields_underscore.symbols = private_fields
dotnet_naming_rule.private_fields_underscore.style = underscore_prefix
dotnet_naming_rule.private_fields_underscore.severity = suggestion
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_style.underscore_prefix.capitalization = camel_case
dotnet_naming_style.underscore_prefix.required_prefix = _
